{% extends '../layouts/single.html' %}

{% block content %}
<form class="form-signin" action="/register" method="post">
    <div class="form-signin-heading text-center">
        <h1 class="sign-title">注册新账号</h1>
        <img src="images/login-logo.png" alt=""/>
    </div>


    <div class="login-wrap">
        <p>请填写账户信息</p>
        <input type="text" name="un" value="{{ username }}"  autofocus="" placeholder="用户名" class="form-control">
        <input type="password" name="pw" placeholder="输入密码" class="form-control">
        <input type="password" name="vpw" placeholder="再次输入密码" class="form-control">
        <label class="checkbox">
            <input type="checkbox" value="agree this condition"> 隐私条款
        </label>
        <button type="submit" class="btn btn-lg btn-login btn-block">
            <i class="fa fa-check"></i>
        </button>

        <div class="registration">
            已有账户?
            <a href="/login" class="">
                登录
            </a>
        </div>

    </div>

</form>
{% endblock %}