{% extends '../layouts/default.html' %}
{% block content %}

<!--dynamic table-->
<link href="/lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
<link href="/lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
<link rel="stylesheet" href="/lib/data-tables/DT_bootstrap.css" />

<div tt-controller="app/goods/index" tt-init="initList">
<!-- page heading start-->
<div class="page-heading">
    <h3>
    商品管理
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">商品管理</a>
        </li>
        <li class="active"> 商品列表 </li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    商品列表
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button id="editable-sample_new" class="btn btn-primary">
                            新增商品 <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">更多 <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#"> 打印 </a></li>
                                <li><a href="#"> 另存为PDF </a></li>
                                <li><a href="#"> 导出到Excel </a></li>
                            </ul>
                        </div>
                    </div>
                    <table class="table  table-hover general-table" id="userList">
                        <thead>
                            <tr>
                                <th> 名称</th>
                                <th> 品牌</th>
                                <th> 分类</th>
                                <th> 描述</th>
                                <th> 图片</th>
                                <th> 价格 / 市场价格</th>
                                <th> 库存量</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody tt-repeat="item in goods">
                        {% raw %}
                            <tr data-id="{{item.id}}">
                                <td><a href="/goods/{{item.id}}">{{item.name}}</a></td>
                                <td>{{item.brand_name}}</td>
                                <td><span class="label label-success label-mini">{{item.cat.cat_name}}</span></td>
                                <td>{{item.description}} </td>
                                <td> <img src="{{item.default_image}}" alt="" height="50" /> </td>
                                <td>{{item.price}} / {{item.market_price}}</td>
                                <td>{{item.stock}}</td>
                                <td>
                                    <a href="/goods/{{item.id}}"><i class="fa fa-eye"></i></a>
                                    <a href="/goods/{{item.id}}/edit"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:;" tt-click="deleteGoodDialog"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>  
                        {% endraw %}
                        </tbody>
                    </table>
                    <hr>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="dataTables_paginate paging_bootstrap pagination">
                                <ul>
                                    <li class="prev disabled"><a href="javascript:;">← 上一页</a></li>
                                    <li class="active"><a href="javascript:;">1</a></li>
                                    <li><a href="javascript:;">2</a></li>
                                    <li><a href="javascript:;">3</a></li>
                                    <li><a href="javascript:;">4</a></li>
                                    <li><a href="javascript:;">5</a></li>
                                    <li class="next"><a href="javascript:;">下一页 → </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->
<!--footer section start-->
<script>
    requirejs(['/js/common.js'], function (common) {
        requirejs(['modernizr','bootstrap', 'app/goods/index'], function(a, b, goodController){
            goodController.initList();
        });
    });
</script>
</div>
{% endblock %}
