{% extends '../layouts/default.html' %}
{% block content %}
<div tt-controller="app/modules/index" tt-init="initDetail">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
        内容管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">版块详情</a>
            </li>
            <li class="active" tt-bind="module.name"></li>
        </ul>
    </div>
    <!-- page heading end-->
    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading custom-tab ">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#home" data-toggle="tab">内容列表</a>
                            </li>
                            <li class="">
                                <a href="#about" data-toggle="tab">字段定义</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <section class="panel">
                                            <div class="panel-body" id="fragmentsList">
                                                <table class="table  table-hover general-table">
                                                    <thead></thead>
                                                    <tbody></tbody>
                                                </table>
                                                <p>
                                                    <button class="btn btn-info" type="button" tt-click="addNewItem">
                                                        <i class="fa fa-plus"></i> 新增项目
                                                    </button>
                                                </p>
                                                <hr>
                                                <div class="row-fluid">
                                                    <div class="span6">
                                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                                        <ul></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="about">
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <div class="panel-body">
                                            <table class="table  table-hover general-table" id="propEditor">
                                                <thead>
                                                    <tr>
                                                        <th> 属性名</th>
                                                        <th> 别名</th>
                                                        <th> 类型</th>
                                                        <th> 校验</th>
                                                        <th> 操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                
                                            </table>
                                            <p>
                                                <button class="btn btn-info" type="button" tt-click="savePropDefination">
                                                    <i class="fa fa-refresh"></i> 更新
                                                </button>
                                                <button class="btn btn-default" type="button">
                                                    <i class="fa fa-cross"></i> 取消
                                                </button>
                                            </p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->
<!--footer section start-->
<script>
    requirejs(['/js/common.js'], function (common) {
        requirejs(['modernizr','bootstrap', 'app/modules/index'], function(a, b, moduleController){
            moduleController.initDetail();
        });
    });
</script>
</div>
{% endblock %}