{% extends '../layouts/default.html' %}
{% block content %}

<div tt-controller="app/modules/index" tt-init="initList">
<!-- page heading start-->
<div class="page-heading">
    <h3>
    内容管理
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">内容管理</a>
        </li>
        <li class="active"> 版块列表 </li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    版块列表
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="btn-group">
                            <a data-act="addModule" class="btn btn-primary" href="/modules/new">
                            添加版块 <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">工具 <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#"> 打印 </a></li>
                                <li><a href="#"> 另存为PDF </a></li>
                                <li><a href="#"> 导出到Excel </a></li>
                            </ul>
                        </div>
                    </div>
                    <table class="table  table-hover general-table" id="modules-list">
                        <thead>
                            <tr>
                                <th> 名称</th>
                                <th> 类型</th>
                                <th> 排序</th>
                                <th> 显示/隐藏</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody tt-repeat="item in modules">
                        {% raw %}
                            <tr data-id="{{item.id}}"><td><a href="/modules/{{item.id}}">{{item.name}}</a></td>
                                <td class="hidden-phone">{{item.type}}</td>
                                <td>{{item.sort}} </td>
                                <td><span class="label label-warning label-mini">{{item.is_show}}</span></td>
                                <td>
                                    <a href="/modules/{{item.id}}"><i class="fa fa-eye"></i></a>
                                    <a href="/modules/{{item.id}}/edit"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:;" tt-click="deleteModuleDialog"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endraw %}    
                        </tbody>
                    </table>

                    <hr>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="dataTables_paginate paging_bootstrap pagination">
                                <ul>
                                    <li class="prev disabled"><a href="#">← 上一页</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#">下一页 → </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->
<!--footer section start-->
<script>
requirejs(['/js/common.js'], function (common) {
    requirejs(['modernizr','bootstrap', 'app/modules/index'], function(a, b, moduleController){
        moduleController.initList();
    });
});
</script>
</div>
{% endblock %}